/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }

.Select {
  position: relative; }
  .Select,
  .Select div,
  .Select input,
  .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .Select.is-disabled > .Select-control {
    background-color: #edf2f8; }
    .Select.is-disabled > .Select-control:hover {
      box-shadow: none; }
  .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none; }

.Select-control {
  background-color: #fff;
  border-color: #cedfe5 #bdd4dc #9cbeca;
  border-radius: 0.375em;
  border: 0.125em solid #bdd4dc;
  color: #54667a;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 2.25em;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06); }
  .Select-control .Select-input:focus {
    outline: none; }

.is-searchable.is-open > .Select-control {
  cursor: text; }

.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #9cbeca #bdd4dc #cedfe5; }
  .is-open > .Select-control > .Select-arrow {
    border-color: transparent transparent #bdd4dc;
    border-width: 0 0.3125em 0.3125em; }

.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text; }

.is-focused:not(.is-open) > .Select-control {
  border-color: #1ba7d9 #29b3e4 #29b3e4;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px fade(#1ba7d9, 50%); }

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #bdd4dc;
  left: 0;
  line-height: 2em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #54667a; }

.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none; }
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #1ba7d9;
    outline: none;
    text-decoration: underline; }

.Select-input {
  height: 2em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  vertical-align: middle; }
  .Select-input > input {
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    /* For IE 8 compatibility */
    padding: -8em 0 -4em;
    /* For IE 8 compatibility */
    -webkit-appearance: none; }
    .is-focused .Select-input > input {
      cursor: text; }

.has-value.is-pseudo-focused .Select-input {
  opacity: 0; }

.Select-control:not(.is-searchable) > .Select-input {
  outline: none; }

.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1em; }

.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0em solid #bdd4dc;
  border-right-color: #54667a;
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #a2b3be;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1.6em; }
  .Select-clear-zone:hover {
    color: #ea4256; }

.Select-clear {
  display: inline-block;
  font-size: 1.5em;
  line-height: 1; }

.Select--multi .Select-clear-zone {
  width: 1.6em; }

.Select--multi .Select-multi-value-wrapper {
  display: inline-block; }

.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden; }

.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1.5625em;
  padding-right: 0.3125em; }

.Select-arrow {
  border-color: #bdd4dc transparent transparent;
  border-style: solid;
  border-width: 0.3125em 0.3125em 0.15625em;
  display: inline-block;
  height: 0;
  width: 0; }

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #a2b3be; }

@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes Select-animation-fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Select-menu-outer {
  border-bottom-right-radius: 0.375em;
  border-bottom-left-radius: 0.375em;
  background-color: #fff;
  border: 1px solid #bdd4dc;
  border-top-color: #deeaee;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch; }

.Select-menu {
  max-height: 198px;
  overflow-y: auto; }

.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #8799ad;
  cursor: pointer;
  display: block;
  padding: 0.375em 0.75em; }
  .Select-option:last-child {
    border-bottom-right-radius: 0.375em;
    border-bottom-left-radius: 0.375em; }
  .Select-option.is-selected {
    background-color: #f5faff;
    color: #54667a; }
  .Select-option.is-focused {
    background-color: #1ba7d9;
    color: #edf2f8; }
  .Select-option.is-disabled {
    color: #a2b3be;
    cursor: default; }

.Select-noresults {
  box-sizing: border-box;
  color: #a2b3be;
  cursor: default;
  display: block;
  padding: 0.375em 0.75em; }

.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 0.75em;
  padding: 0; }

.Select--multi.has-value .Select-input {
  margin-left: 0.3125em; }

.Select--multi .Select-value {
  background-color: #1ba7d9;
  border-radius: 0.375em;
  border: 1px solid #1584ac;
  color: #1ba7d9;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 0.3125em;
  margin-top: 0.3125em;
  vertical-align: top; }

.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle; }

.Select--multi .Select-value-label {
  border-bottom-right-radius: 0.375em;
  border-top-right-radius: 0.375em;
  cursor: default;
  padding: 0.125em 0.3125em; }

.Select--multi a.Select-value-label {
  color: #1ba7d9;
  cursor: pointer;
  text-decoration: none; }
  .Select--multi a.Select-value-label:hover {
    text-decoration: underline; }

.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 0.375em;
  border-top-left-radius: 0.375em;
  border-right: 1px solid #1584ac;
  padding: -0.875em 0.3125em 1.125em; }
  .Select--multi .Select-value-icon:hover, .Select--multi .Select-value-icon:focus {
    background-color: #1896c2;
    color: #1896c2; }
  .Select--multi .Select-value-icon:active {
    background-color: #1584ac; }

.Select--multi.is-disabled .Select-value {
  background-color: #edf2f8;
  border: 1px solid #c8d7ea;
  color: #54667a; }

.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #c8d7ea; }
  .Select--multi.is-disabled .Select-value-icon:hover, .Select--multi.is-disabled .Select-value-icon:focus, .Select--multi.is-disabled .Select-value-icon:active {
    background-color: #edf2f8; }

@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn); } }
