:root {
  --primary   : hsl(194, 97%, 43%);
  --secondary : hsl(194, 62%, 33%);
  --tertiary  : hsl(254, 71%, 65%);

  --highlight : hsl(194, 97%, 43%);
  --success   : hsl(137, 51%, 58%);
  --unsure    : hsl(57, 82%, 51%);
  --warning   : hsl(40, 100%, 50%);
  --danger    : hsl(359, 100%, 62%);
  --neutral   : hsl(195, 32%, 80%);
}

@import './lib/colors';
@import './lib/background';
@import './lib/border';
