.DS_Store
*.log
/node_modules
/lib
/dist

# idea
*.idea/
*.iml

# Generated css and js files
/src/styles/atomic.css
/src/components/Icons/icons.svg
/src/components/Select/index.css
/src/components/Icon/list.js
/styleguide/build