/**
 * DOC
 *
 * # Style Guide
 *
 * Utility class names based off [Emmet CSS Shortcuts](http://docs.emmet.io/cheat-sheet/)
 *
 */

/**
 * DOC
 *
 * <hr class="mt2 mb4 csec20">
 *
 * ## Base
 *
 */

@import 'zanata-css-base';

/**
 * DOC
 *
 * <hr class="mv4 csec20">
 *
 * ## Typography
 */

@import './font-size';
@import './font-family';
@import './font-weight';
@import './text-align';
@import './vertical-align';
@import './list';

/**
 * DOC
 *
 * <hr class="mv4 csec20">
 *
 * ## Layout
 *
 */

@import './spacing';
@import './width';
@import './height';
@import './position';
@import './display';
@import './overflow';
@import './flex';

/**
 * DOC
 *
 * <hr class="mv4 csec20">
 *
 * ## Theme
 *
 */

@import './colors';
@import './borders';
@import './border-radius';
@import './opacity';

/**
 * Components - Temporary
 */

@import '../components/Select/css/default.css';
